
@use "variables"
@use "mixins"

#about

    article
        background: rgba(0, 0, 0, .7)
        padding:2rem 3rem
        p
            text-align: center
            width: 50%
            margin: 2rem auto
            font-size: variables.$text-sm
            color: variables.$text-secondary
            font-weight: 400
            line-height: 1.5rem

    #skills
        padding: 3rem

        h3 
            font-size: variables.$text-lg
            text-align: center
            color: variables.$text-secondary
            font-weight: 400
            margin-bottom: 3rem

        #container-tecs
            display: flex
            align-items: center

            #description-tecnology,
            #tecnologies
                flex: 1

            #tecnologies
                padding: 3rem

                ul
                    display: grid
                    grid-template-columns: repeat(3, 1fr)
                    gap: 1rem

                    .tecnology
                        @include mixins.align-center()
                        width: 140px
                        height: 140px
                        padding: 1.5rem
                        background: variables.$secondary
                        border-radius: 20px
                        transition: .5s
                        cursor: pointer

                        &:hover
                            transform: scale(1.1)

                        i
                            color: #000
                            font-size: 100px

                        #html
                            color: variables.$html-color
                        
                        #css
                            color: variables.$css-color
                        
                        #js
                            color: variables.$js-color
                            background: #000
                            border: px solid #000
                        
                        #bootstrap
                            color: variables.$bootstrap-color

                        #react
                            color: variables.$react-color

                        #sass
                            color: variables.$sass-color

                        #git
                            color: variables.$git-color

                        #github
                            color: variables.$github-color

            #description-tecnology

                ul
                    li
                        .description
                            padding: 1rem
                            border-radius: 20px
                            background: rgba(0, 0, 0, .5)

                            h3
                                font-size: variables.$text-md
                                margin-bottom: 1.5rem
                                text-transform: uppercase
                            p
                                width: 70%
                                color: variables.$text-secondary
                                margin: 0 auto
                                line-height: 1.5rem
                                font-weight: variables.$text-medium
                                margin-bottom: 1rem