@use "variables"

@media (max-width: 1149px)

    //header
    #header
        //presentation
        #presentation

            #content

                h1
                    font-size: variables.$text-xl
                    span
                        font-size: variables.$text-lg

            #container-img
                img
                    width: 500px

@media (max-width: 968px)
    #header
        //presentation
        #presentation

            h1 
                font-size: variables.$text-lg

            #content
                p
                    width: 80%

            #container-img
                img
                    width: 450px

@media (max-width: 918px)
    #header
        //presentation
        #presentation

            #content
                h1
                    font-size: variables.$text-lg
                    span
                        font-size: variables.$text-md

            #container-img
                img
                    width: 400px

@media (max-width: 890px)

    //header
    #header
        #top
            gap: 1.5rem
            height: max-content
            flex-direction: column

@media (max-width: 787px)

    .title-section
        font-size: variables.$text-md

    //header
    #header
        #presentation
            flex-direction: column
            align-items: center

            #content
                text-align: center
                width: 80%
                p
                    width: 100%

            #container-img
                img
                    width: 385px

    //about
    #about
        
        article
            p
                width: 100%

@media (max-width: 600px)

    //header
    #header
        #top
            #navbar
                width: 100%

        #container-img
            display: none

@media (max-width: 594px)
    
    #about

        #container-tecs

            #tecnologies,
            #description-tecnology
                flex-basis: auto !important
                width: 90% !important

            #tecnologies
                
                ul
                    grid-template-columns: repeat(3, 80px) !important
                    grid-template-rows: repeat(3, 80px) !important

                    .tecnology
                        img
                            width: 100% !important
                        i
                            font-size: 300% !important

@media (max-width: 560px)
    
    #header

        #top

            #navbar
                background: rgba(0, 0, 0, .5)
                ul
                    flex-direction: column
                    li
                        width: 100%
                        a 
                            &:hover
                                color: variables.$text-secondary
                                border: 2px solid rgba(0, 0, 0, .5)

@media (max-width: 468px)
    //html
    html
        font-size: 14px

    //projects
    #projects

        #container-projects

            .project
                height: 350px !important

    //contacts
    #contacts

        #container-contacts

            ul
                li
                    a
                        width: 200px
                        height: 200px
    

@media (max-width: 425px)
    
    //header
    #header
        
        #top
            padding: 2rem 0

@media (max-width: 410px)

    //header
    #header

        #presentation

            #content
                h1
                    font-size: variables.$text-md
                    line-height: 2rem

@media (max-width: 333px)

    //html
    html
        font-size: 12px

    //projects
    #projects

        #container-projects

            .project
                height: 300px !important